

.NavButton button {
    background-color: rgba(253, 253, 253, 0.162);
    backdrop-filter: blur(3px);
    border-top: 0.5px solid rgba(255, 255, 255, 0.5);
    border-left: 0.5px solid rgba(255, 255, 255, 0.5);
    border-right: transparent;
    border-bottom: transparent;
    scale: 1;
    transition: border 0.2s ease-in, scale 0.1s ease-in;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 50px;
}

.NavButton button:hover {
    border-right: 0.5px solid rgba(255, 255, 255, 0.5);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
    border-top: transparent;
    border-left:transparent;
    background-color: rgba(253, 253, 253, 0.162);
    scale: 1.05;
}

.LinkImage {
    width: 15px;
    height: 15px;
}
