.timeline_section {
    position: absolute;
    width: 100%;
    height: 150vh;
    background-image: linear-gradient(to bottom, #142f10, rgb(8, 18, 22));
    justify-content: center;
  
}



@media (max-width: 1024px) {
  .timeline_section {
    height: 170vh;
  
  }
}

.image_timeline {
  position: absolute;
  z-index: 99;
  opacity: 0.5;
  scale: 0.5;
  top: 10%;
  left: 70%;
  rotate: 10deg;
  margin: none;
  padding: none;
  animation: rotate2 forwards;
  animation-timeline: view();
  animation-range: enter 0% enter 20%;  

}
.image_timeline2 {
  position: absolute;
  z-index: 99;
  opacity: 0.3;
  scale: 0.8;
  top: 40%;
  left: 0%;
  margin: none;
  padding: none;
  animation: rotate1 forwards;
  animation-timeline: view();
  animation-range: enter 0% enter 20%;  
     


}


.image_timeline4 {
  position: absolute;
  z-index: 99;
  opacity: 0.3;
  scale: 0.3;
  top: 0%;
  left: 15%;
  margin: none;
  padding: none;
  animation: rotate3 forwards;
  animation-timeline: view();
  animation-range: enter 0% enter 20%;  
}


.image_timeline3 {
  position: absolute;
  z-index: 99;
  opacity: 0.5;
  scale: 0.5;
  top: 70%;
  left: 65%;
  rotate: -10deg;
  margin: none;
  padding: none;
  animation: rotate2 forwards;
  animation-timeline: view();
  animation-range: enter 0% enter 20%; 

}

.timeline_container {
    padding-top: 40px;
    display: grid;
    gap: 20px;
    justify-items: center;
    margin-left: -15px;

  }
  

  .timeline_text {
    z-index: 2; 
    color: rgb(255, 255, 255);
    font-size: 2.3rem;
    margin: 0;
    animation: appear_h1 forwards;
    animation-timeline: view();
    animation-range: enter -300% enter -200%;
    font-family: 'Figtree', 'sans-serif';
    justify-self: center;
  
  }


  @keyframes rotate1 {
    from {
        opacity: 0;
        transform: rotate(-10deg);
    } 
    to {
        opacity: 1;
        transform: rotate(20deg);

    }
  }
  

  @keyframes rotate2 {
    from {
        opacity: 0;
        transform: rotate(40deg)
    } 
    to {
        opacity: 1;
        transform: rotate(10deg)
    }
  }
  

  @keyframes rotate1 {
    from {
        opacity: 0;
        transform: rotate(-10deg)
    } 
    to {
        opacity: 1;
        transform: rotate(20deg)
    }
  }
  



  @keyframes rotate3 {
    from {
        opacity: 0;
        transform: rotate(10deg)
    } 
    to {
        opacity: 1;
        transform: rotate(40deg)
    }
  }
  