.Skills_Box {
    display: flex;
    align-items: center;
    gap: 10px;
    height: auto;
    border-radius: 20px;
    background-image: linear-gradient(to bottom,#2d9bbf9c, #2f3a7680);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
    border-top: 1px solid white;
    border-left: 1px solid white;
    backdrop-filter: blur(8px);
    transition: transform 0.3s ease, scale 0.3s ease;
    justify-content: space-between; 
    white-space: nowrap;            
    padding: 20px;                  
    height: 50px;    
    animation: appear_project_box forwards;
    animation-timeline: view();
    animation-range: enter -200% cover -200%;              
}

.Skills_Box:hover {
    border-top: none;
    border-left: none;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    scale: 1.05;
}


.Skills_Box_Right {
    position: relative;
}

.Skills_Box_Left {
    scale: 0.8;
    transform-origin: left center;


}