.skills_section {
    position: absolute;
    width: 100%;
    height: 93%;
    background-image: linear-gradient(to bottom, #2c4e89,  rgb(24, 71, 63));
    justify-content: center;
  
  }


  .skills_container {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
  }
  

  .skills_text {
    z-index: 2; 
    color: rgb(255, 255, 255);
    font-size: 2.3rem;
    margin: 0;
    animation: appear_h1 forwards;
    animation-timeline: view();
    animation-range: enter -300% enter -200%;
    font-family: 'Figtree', 'sans-serif';
    justify-self: center;
  
  }