.Header {
    background-color: rgba(90, 155, 177, 0.432);
    backdrop-filter: blur(6px);
    position: fixed;
    top: 0;
    width: 100%;
    height: 7%;
    z-index: 100;
    box-shadow: 0px 1px 10px rgba(111, 155, 135, 0.376);
    display: flex;
    align-items: center;
    font-family: "Figtree", "sans-serif";

}

.Left {
    position: relative;
    left: 1%;

}

.Middle {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
    z-index: 10 !important;
}

.Left p {
    font-size: 20px;
}

@keyframes appear_header {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
  }