.Header {
    background-color: rgba(90, 155, 177, 0.432);
    backdrop-filter: blur(6px);
    position: fixed;
    top: 0;
    width: 100%;
    height: 7%;
    z-index: 10;
    box-shadow: 0px 1px 10px rgba(111, 155, 135, 0.376);
    justify-content: center;
    align-items: center;
    align-self: center;
    font-family: "Figtree", "sans-serif";
}

.Left {
    position: relative;
    left: 1%;


}

.Left p {
    font-size: 20px;
}

