
.project_text {
  z-index: 2; 
  color: rgb(255, 255, 255);
  font-size: 2.3rem;
  margin: 0;
  padding-top: 3%;
  animation: appear_h1 forwards;
  animation-timeline: view();
  animation-range: enter -300% enter -200%;
  font-family: 'Figtree', 'sans-serif';
  justify-self: center;

}

.projects_container {
  display: flex;
  justify-content: center;
  padding-left: 2%;
  width: 95%;
  gap: 20px;
  animation: appear_project_box forwards;
  animation-timeline: view();
  animation-range: enter 0% enter 10%;
}

.project {
  position: static;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgb(25, 27, 63), #2c4e89);
  justify-content: center;

}
@media (max-width: 1024px) {
  .project {
    position: static;
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(to bottom, rgb(25, 27, 63), #2c4e89);
    justify-content: center;
  
  }
}




@keyframes appear_h1 {
  from {
      opacity: 0;
      transform: translateY(0px)
  } 
  to {
      opacity: 1;
      transform: translateY(-30px)
  }
}

@keyframes appear_project_box {
  from {
      opacity: 0;
      transform: translateY(100px)
  } 
  to {
      opacity: 1;
      transform: translateY(-20px);
  }
}
