
.project {
    position: absolute; 
    width: 100%;
    height: 100%;   
    background: white;
    
 }
h1 {
  z-index: 10;  
}

.Project_Image {
    position: absolute;
    width: 100%;
    height: 100%;

}
